.products {
   display: flex;
   flex-wrap: wrap;
   width: 1020px;
   margin: 0 -10px;

   &__row {
      display: flex;
      flex: 0 0 33.333%;
   }

   &__item {
      // display: flex;
      padding: 10px;
   }
}
