.openCloseBtn {
   background-color: transparent;
   border: 0;
   padding: 0;
   margin-top: 15px;

   cursor: pointer;
   font-weight: 500;
   font-size: 12px;
   color: #3f4e65;

   .openBtn {
      display: block;
   }
   .closeBtn {
      display: none;
   }

   &:global(.fullList) {
      .openBtn {
         display: none;
      }
      .closeBtn {
         display: block;
      }
   }
}

.value {
   display: flex;
   align-items: center;
   margin-bottom: 5px;

   label {
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3f4e65;
   }
}

.checkbox {
   margin: 0 10px 0 0;
   cursor: pointer;
}

.message {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #3f4e65;
}
