@import "styles/vars";

.dropdown {
   width: 100vw;
   height: 100vh;
   background: rgba(17, 17, 17, 0.5);

   position: fixed;
   top: $header-tablet-h;
   left: 0;

   @media (max-width: $media4 + px) {
      top: $header-mobile-h;
   }

   &__menu {
      padding: 20px 0 30px;
      background-color: white;

      .menu {
         &__contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding-bottom: 33px;
            border-bottom: 1px dashed rgba(63, 78, 100, 0.2);

            > :not(:last-child) {
               margin-bottom: 15px;
            }

            .sales-team-contact {
               color: #3f4e65;
               line-height: 150%;

               &__info {
                  font-weight: 300;
                  font-size: 12px;
                  margin-left: 33px;
               }

               .back-call__link {
                  position: relative;
                  margin-left: 33px;

                  &::before {
                     position: absolute;
                     left: -39px;
                     content: "🕻";
                     font-size: 16px;
                     transform: rotate(-45deg);
                     width: 28px;
                     height: 28px;
                     border-radius: 50%;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     background-color: #ffc85e;
                     color: white;
                  }
               }
            }
         }

         &__nav {
            padding-top: 25px;
            .nav {
               margin-bottom: 22px;
            }
            .button {
               width: 100%;
               max-width: 250px;
            }
         }
      }
   }
}

.burger {
   position: relative;
   padding: 0;
   width: 35%;
   height: 30%;

   span,
   &::before,
   &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: white;
      transition: all 0.3s ease 0s;
   }

   span {
      top: 50%;
      transform: translateY(-50%);
   }

   &::before {
      content: "";
      top: 0;
   }

   &::after {
      content: "";
      bottom: 0;
   }

   &.close {
      &::before {
         transform: rotate(45deg);
         top: 49%;
      }

      &::after {
         transform: rotate(-45deg);
         top: 49%;
      }

      span {
         transform: scale(0);
      }
   }
}
