@import "styles/vars";

.products {
   grid-area: 3 / 2 / 4 / 5;

   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;

   @media (max-width: $media2 + px) {
      grid-area: 4 / 1 / 5 / 5;
      // width: 100%;
   }

   @media (max-width: $media6 + px) {
      grid-area: 4 / 1 / 5 / 2;
      // justify-content: center;
   }

   &__column {
      display: flex;
      flex: 0 1 33.333%;
      padding: 10px;

      @media (max-width: $media3 + px) {
         flex: 0 1 50%;
      }

      // @media (max-width: $media6 + px) {
      //    flex: 0 1 80vw;
      //    max-width: 326px;
      // }

      @media (max-width: $media7 + px) {
         padding: 5px;
      }
   }
}
