@import "styles/vars";

.container {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;
}

.column {
   display: flex;
   align-items: start;
   flex: 0 1 33.333%;
   padding: 10px;

   @media (max-width: $media3 + px) {
      flex: 0 1 50%;
   }

   @media (max-width: $media7 + px) {
      padding: 5px;
   }
}

.message {
   font-weight: 400;
   font-size: 30px;
   line-height: 120%;
   color: rgb(214, 214, 214);

   margin-top: 30px;
}
