@import "styles/vars";

.products {
   display: flex;
   flex-wrap: wrap;
   width: 75%;
   height: auto;
   margin: 0 -10px;

   @media (max-width: $media2 + px) {
      width: 100%;
      height: auto;
   }

   @media (max-width: $media6 + px) {
      justify-content: center;
   }

   &__column {
      display: flex;
      flex: 0 1 33.333%;
      padding: 10px;

      @media (max-width: $media3 + px) {
         flex: 0 1 50%;
      }

      @media (max-width: $media6 + px) {
         flex: 0 1 80vw;
         max-width: 326px;
      }

      @media (max-width: $media7 + px) {
         flex: 0 1 100%;
      }
   }
}
