.container {
   display: flex;
   align-items: center;

   .right {
      text-align: end;
   }

   .left {
      text-align: start;
   }

   .light {
      color: white;
      .link {
         color: inherit;
      }
   }

   .dark {
      .phoneNumber {
         color: #111111;
      }

      .secondary,
      .link {
         color: #3f4e65;
      }
   }
}

.text {
   margin-right: 14px;

   *:not(:last-child) {
      margin-bottom: 5px;
   }
}

.phoneNumber {
   font-weight: 600;
   font-size: 14px;
   line-height: 150%;
}

.secondary {
   font-weight: 300;
   font-size: 12px;
   line-height: 150%;
}

.link {
   font-weight: 400;
   font-size: 10px;
   line-height: 150%;
   text-decoration-line: underline;

   &:hover {
      color: #f3a50d;
   }
}

.img img {
   height: 92px;
}
