@import "styles/vars";

.bottomMenuBar {
   position: relative;

   height: $bottom-menu-desk-h;

   display: flex;
   align-items: center;
   justify-content: space-between;

   &::after {
      content: "";
      position: absolute;
      left: -20vw;
      bottom: 0;

      width: 120vw;
      height: 1px;

      background: #3f4e65;
      opacity: 0.2;
   }

   @media (max-width: $media2 + px) {
      height: $bottom-menu-tablet-h;
      font-size: 16px;

      > *:not(:last-child) {
         border-right: 1px dashed rgba(63, 78, 101, 0.1);
      }
   }

   @media (max-width: $media4 + px) {
      height: $bottom-menu-mobile-h;
      font-size: 12px;
   }
}

.logo {
   fill: #3f4e65;
   margin-right: 38px;
}

.catalogBtn {
   margin-right: 15px;
}

.priceListBtn {
   margin-right: 50px;
}

.search {
   margin-right: 35px;
}

.backCall {
   margin-right: 50px;

   @media (max-width: 1340px) {
      margin-right: 20px;

      &__text {
         text-align: center;
      }

      &__img {
         display: none;
      }
   }
}

.btn {
   padding: 19px 43px;
   *:not(:last-child) {
      margin-right: 12px;
   }

   svg {
      stroke: white;
   }

   @media (max-width: 1390px) {
      padding: 19px 28px;
      *:not(:last-child) {
         margin-right: 10px;
      }
   }
}

.mobileBtn {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 50%;
   height: 65%;
   padding: 0;
   border: 0;

   background-color: white;
   font-weight: 600;
   line-height: 15px;
   color: #3f4e65;

   svg {
      stroke: #3f4e65;
      height: 15px;
      width: 15px;
   }

   > *:not(:last-child) {
      margin-right: 6px;
   }

   cursor: pointer;
   &:hover {
      svg {
         stroke: #f3a50d;
      }
      color: #f3a50d;
   }
}
