@import "styles/vars";

.bottom-menu-bar {
   height: $bottom-menu-desk-h;
   display: flex;
   align-items: center;
   justify-content: space-between;

   @media (max-width: $media2 + px) {
      height: $bottom-menu-tablet-h;
      font-size: 16px;

      > *:not(:last-child) {
         border-right: 1px dashed rgba(63, 78, 101, 0.1);
      }

      &__btn {
         display: flex;
         align-items: center;
         justify-content: center;

         background-color: white;
         padding: 0;
         border: 0;
         width: 50%;
         height: 65%;

         > *:not(:last-child) {
            margin-right: 6px;
         }

         font-weight: 600;
         line-height: 15px;
         color: #3f4e65;

         svg {
            stroke: #3f4e65;
            height: 15px;
            width: 15px;
         }

         cursor: pointer;
         &:hover {
            svg {
               stroke: #f3a50d;
            }
            color: #f3a50d;
         }
      }
   }

   @media (max-width: $media4 + px) {
      height: $bottom-menu-mobile-h;
      font-size: 12px;
   }

   &::after {
      content: "";
      position: absolute;
      left: -20vw;
      bottom: 0;
      width: 120vw;
      height: 1px;
      background: #3f4e65;
      opacity: 0.2;
   }

   > .button {
      padding: 19px 43px;
      *:not(:last-child) {
         margin-right: 12px;
      }

      svg {
         stroke: white;
      }

      @media (max-width: 1390px) {
         padding: 19px 28px;
         *:not(:last-child) {
            margin-right: 10px;
         }
      }
   }

   .search {
      margin-right: 35px;
   }

   .back-call {
      margin-right: 50px;

      @media (max-width: 1340px) {
         margin-right: 20px;

         &__text {
            text-align: center;
         }

         &__img {
            display: none;
         }
      }
   }

   &__logo {
      fill: #3f4e65;
      margin-right: 38px;
   }

   &__catalog {
      margin-right: 15px;
   }

   &__price-list {
      margin-right: 50px;
   }
}
