$minWidth: 320;
$contentWidth: 1366;
$media1: 1390;
$media2: 1270.98; //вертикальный
$media3: 992.98; //список в две колонки
$media4: 767.98;
$media5: 710;
$media6: 630; //список в одну колонку
$media7: 479.98;
