@import "styles/vars";

.horizontalButtonList {
   padding: 10px 0;

   overflow-x: scroll;
   scrollbar-width: 0;

   &::-webkit-scrollbar {
      width: 0;
      height: 0;
   }

   .list {
      width: $contentWidth + px;
      height: 100%;

      display: flex;

      *:not(:last-child) {
         margin-right: 11px;
      }
   }

   li {
      display: flex;
   }

   .item {
      display: flex;
      align-items: center;
      padding: 18px 15px;

      cursor: pointer;
      box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
      border-radius: 10px;
      border: 0;

      color: #3f4e65;
      background-color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;

      &:hover {
         background-color: rgba(255, 198, 80, 0.2);
      }

      &:global(.active) {
         background-color: #ffc85e;
         color: white;
      }
   }
}

.verticalLinkList {
   padding: 20px 0;
   border-top: 1px dashed #c6cad1;

   .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      text-transform: uppercase;
      color: #111111;

      margin-bottom: 15px;
   }

   .list {
      *:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   .item {
      background-color: transparent;
      border: 0;
      padding: 0;

      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #3f4e65;

      cursor: pointer;

      &:hover {
         text-decoration: underline;
      }

      &:global(.active) {
         color: #f3a200;
         font-weight: 500;
      }
   }
}
