.price-widget {
   margin-bottom: 30px;
   &__title {
      margin-bottom: 16px;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      color: #3f4e65;

      span {
         font-weight: 500;
         color: #111111;
      }
   }

   &__values {
      display: flex;

      *:not(:last-child) {
         margin-right: 10px;
      }
   }

   &__input {
      width: 100px;

      background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
      border-radius: 1000px;

      font-weight: 300;
      font-size: 12px;
      text-align: center;
      color: #3f4e65;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
         -webkit-appearance: none;
      }

      &,
      &:hover,
      &:focus {
         border: 0;
         outline: 0;
         appearance: none;
         -moz-appearance: textfield;
         text-align: center;
      }
   }
}
