@import "styles/vars";

.container {
   width: 130px;
   display: flex;
   align-items: center;

   cursor: pointer;

   &:hover .img {
      fill: #f3a50d;
   }

   &:hover .quantity {
      background: #3f4e65;
   }

   @media (max-width: $media4 + px) {
      width: auto;
      .img {
         margin-right: 0;
         svg {
            height: 25px;
            width: 40px;
         }
      }

      .info {
         display: none;
      }
   }
}

.img {
   position: relative;
   width: 40px;
   height: 29px;
   margin-right: 24px;

   fill: #3f4e65;
}

.quantity {
   position: absolute;
   top: -30%;
   right: -20%;

   width: 24px;
   height: 24px;
   background: #ffc85e;
   border: 3px solid #ffffff;
   border-radius: 50%;

   font-weight: 700;
   font-size: 12px;
   line-height: 17px;
   text-align: center;
   color: #ffffff;
}

.info {
   line-height: 150%;
}

.title {
   font-weight: 300;
   font-size: 12px;
   color: #3f4e65;
}

.amount {
   font-weight: 600;
   font-size: 14px;
   color: #111111;
}
