@import "styles/vars";

.button {
   height: auto;
   background-color: #ffc85e;
   color: white;
   border-radius: 80px;
   border: 0;
   padding: 1em 2.5em;
   display: flex;
   align-items: center;

   cursor: pointer;

   &:hover {
      background-color: #f3a50d;
   }

   *:not(:last-child) {
      margin-right: 5px;
   }

   @media (max-width: 430px) {
      padding: 0.8em 1em;
   }
}
