.button {
   background-color: #ffc85e;
   color: white;
   border-radius: 80px;
   border: 0;
   padding: 1em 2.5em;
   display: flex;
   align-items: center;
}

.button:hover {
   background-color: #f3a50d;
}

.button > *:not(:last-child) {
   margin-right: 5px;
}
