@import "styles/vars";

.item a {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: inherit;

   &:hover {
      color: #f3a50d;
   }

   @media (max-width: $media6 + px) {
      font-size: 12px;
   }
}

.horizontalLinkList {
   .list {
      display: flex;
   }
   .item {
      margin-left: 30px;

      &:not(:last-child) {
         padding-right: 30px;
         border-right: 1px dashed rgba(63, 78, 101, 0.1);
      }
   }
}

.verticalLinkList {
   .item:not(:last-child) {
      margin-bottom: 20px;

      @media (max-width: $media6 + px) {
         margin-bottom: 15px;
      }
   }

   .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 25px;

      @media (max-width: $media6 + px) {
         margin-bottom: 20px;
      }

      @media (max-width: $media7 + px) {
         font-size: 16px;
      }
   }
}

.light {
   color: #ffffff;
}

.dark {
   color: #3f4e65;
}
