@import "../../styles/vars";

.product-card {
   display: flex;
   flex-direction: column;

   height: auto;
   max-height: 510px;
   width: 100%;

   padding: 9% 7%;

   background: #ffffff;
   box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
   border-radius: 10px;

   font-family: "Inter";
   color: #111111;
   line-height: 130%;

   @media (max-width: $media7 + px) {
      padding: 2% 5%;
   }

   &__img {
      height: 50%;

      img {
         height: 100%;
         width: 100%;
         object-fit: contain;
      }
   }

   &__size {
      margin-bottom: 3%;
      display: flex;

      *:not(:last-child) {
         margin-right: 8px;
      }
   }

   &__value {
      font-weight: 400;
      font-size: 12px;

      @media (max-width: $media7 + px) {
         font-size: 8px;
      }
   }

   &__title {
      margin-bottom: 7%;
      height: 4rem;
      overflow: hidden;

      font-weight: 500;
      font-size: 16px;
      color: inherit;

      &:hover {
         text-decoration: underline;
      }

      @media (max-width: $media6 + px) {
         height: auto;
         max-height: 4rem;
      }

      @media (max-width: $media7 + px) {
         font-size: 14px;
      }
   }

   &__properties {
      margin-bottom: 5%;
   }

   &__buy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 8%;
   }

   &__price {
      font-weight: 800;
      font-size: 16px;

      @media (max-width: $media7 + px) {
         font-size: 14px;
      }
   }

   &__btn {
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
   }
}

.product-property {
   font-size: 14px;
   margin-bottom: 1.6%;

   @media (max-width: $media5 + px) {
      font-size: 12px;
   }

   &__key {
      font-weight: 300;
   }

   &__value {
      font-weight: 500;
   }
}
