.contact {
   display: flex;
   justify-content: center;
   align-items: center;

   &__img {
      margin-right: 15px;
   }

   &__text {
   }

   &__info {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #111111;
   }

   &__secondary {
      font-weight: 300;
      font-size: 12px;
      line-height: 130.02%;
      color: #3f4e65;
   }
}
