.container {
   display: flex;
   align-items: center;
}

.img {
   margin-right: 15px;
}

.info {
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   color: #111111;
}

.secondary {
   font-weight: 300;
   font-size: 12px;
   line-height: 130.02%;
   color: #3f4e65;
}
