@import "styles/vars";

.container {
}

.header {
   max-width: 300px;
   margin-bottom: 10px;

   display: flex;
   justify-content: space-between;
   align-items: center;

   .text {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      text-transform: uppercase;
      color: #111111;
   }

   .btn {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;
      border: 0;

      background: rgba(255, 198, 80, 0.2);
      border-radius: 50%;
      cursor: pointer;

      &:global(.up) img {
         transform: rotate(-180deg);
      }
   }
}

.filters {
   padding-bottom: 27px;

   .list {
      &:global(.open) {
         display: block;
      }
      &:global(.close) {
         display: none;
      }
   }
}

.priceWidget {
   margin-bottom: 30px;
}
