@import "styles/vars";

.container {
   position: relative;

   display: flex;
   justify-content: space-between;
   align-items: center;

   height: $top-menu-h;

   @media (max-width: $media2 + px) and (min-width: $media4 + px) {
      height: $top-menu-tablet-h;
   }

   @media (max-width: $media2 + px) {
      .logo {
         height: 67%;
         fill: #3f4e65;
      }

      .burgerBtn {
         padding: 0;
         width: 42px;
         height: 42px;
      }
   }

   @media (max-width: $media4 + px) {
      .burgerBtn {
         width: 32px;
         height: 32px;
      }
   }
}

.contacts {
   display: flex;
   padding-right: 20px;
}

.contact {
   padding-right: 20px;
   &:not(:first-child) {
      padding-left: 20px;
      border-left: 1px dashed rgba(63, 78, 101, 0.1);
   }
}
