@import "styles/vars";

.container {
   position: absolute;
   left: 0;

   padding-top: $header-tablet-h;
   overflow: auto;
   width: 100vw;
   height: 100vh;
   background: rgba(17, 17, 17, 0.5);

   @media (max-width: $media4 + px) {
      padding-top: $header-mobile-h;
   }
}

.menu {
   width: 100%;
   padding: 20px 0 30px;
   background-color: white;
}

.contacts {
   display: flex;
   flex-direction: column;
   align-items: flex-start;

   padding-bottom: 33px;
   border-bottom: 1px dashed rgba(63, 78, 100, 0.2);

   > :not(:last-child) {
      margin-bottom: 15px;
   }
}

.salesTeamContact {
   color: #3f4e65;
   line-height: 150%;
}

.salesTeamContactInfo {
   font-weight: 300;
   font-size: 12px;
   margin-left: 33px;
}

.backCallLink {
   position: relative;
   margin-left: 33px;

   font-weight: 400;
   font-size: 10px;
   line-height: 150%;
   text-decoration-line: underline;
   color: #3f4e65;

   &:hover {
      color: #f3a50d;
   }

   &::before {
      content: url("../../../assets/images/phone.svg");

      position: absolute;
      left: -39px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 28px;
      height: 28px;
      border-radius: 50%;

      font-size: 16px;
      background-color: #ffc85e;
      color: white;
   }
}

.navBlock {
   padding-top: 25px;
}

.nav {
   margin-bottom: 22px;
}

.priceListBtn {
   padding: 1em 2.5em;
   width: 100%;
   max-width: 250px;

   @media (max-width: 430px) {
      padding: 0.8em 1em;
   }
}
